* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  padding: 0 50px 50px 50px;
}

header img {
  height: 150px;
  margin-left: -44px;
}
h1 {
  font-family: Bebas Neue;
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 40px;
}
.movie {
  display: flex;
  overflow-x: scroll;
  height: 125px;
}
